@{
    Layout = "_MyLayout";
    
}


<h1>Login </h1>
<a href="/User/AllUsers">All Users</a>

<div>
    <form method="post" action="/User/Login" >
        Name: <input type="text" name="Login" /> <br />
        Password: <input type="password" name="Password" /> <br />
        <input type="submit" value="SignIn" /> <br />
        <span style="color:red">@ViewBag.Error</span>
    </form>
</div>
